section {
	display: flex;
	justify-content: center;
	color: black;
	background-color: white;
	align-items: center;
	border: 2px solid black;
	flex-wrap: wrap;
	max-height: 30vh;
	overflow: auto;

	pre {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		background-color: #f0f0f0;
		margin: 0;
	}

	span {
		font-size: large;
	}
}

.results-body {
	display: flex;
	flex-direction: column;

	div {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 85%;
		margin: 0 auto;
		padding-bottom: 10px;
		padding-top: 10px;

		button {
			width: 90px;
			height: 30px;
		}
	}
}